
.howit {
    background-color: #333333;
}

.howit__search,
.howit__select,
.howit__book {
    margin-top: 18px;
    background-color: #333333;
    z-index: 1;
}

.howit__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 337px;
    text-align: center;
    margin-left: -17px;
    margin-right: -20px;
    position: relative;
}

.search__svg {
    fill: #5474fd;
    fill-rule: evenodd;
}

.select__svg {
    fill: #ff6363;
    fill-rule: evenodd;
}

.book__svg {
    fill: #00a2ff;
    fill-rule: evenodd;
}

.search__text,
.select__text,
.book__text {
    color: #e8e8e8;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 30px;   
}

.howit__arc1 {
    display: block;
    position: absolute;
    top: -291px;
    left: 168px;
    width: 302px;
    height: 56px;
    
}
.howit__arc2 {
    display: block;
    position: absolute;
    top: -291px;
    left: 553px;
    width: 302px;
    height: 56px;
    
}

.arc {
    width: 427px;
    height: 381px;
    opacity: 0.5;
    border-radius: 50%;
    border-top: 1px dotted white;
    
}