
.testi {
    background-image: url(../img/Testimonial_bg.png);
    height: 731px;
    background-position: top;
    background-size: cover;
}

.testi__title {
    color: white;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 117px;
    margin-bottom: 94px;
}

.article__title {
    color: #fefefe;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 46px;
    padding-left: 57px;
}

.testi__article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #333333;
    height: 100%;
    line-height: 28px;
    margin-left: -30px;
}

.article__text {
    position: relative;
    color: #e8e8e8;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 26px;
    padding-top: 38px;
    padding-left: 55px;
    padding-right: 50px;
}

.article__quotes {
    position: absolute;
    top: 24px;
    left: 60px;
    color: #5474fd;
    font-size: 19px;
}