.choose {
    background-image: url(../img/choose_bg.png);    
    background-position: top;
    background-size: cover;

    &__block {     
        padding-top: 207px;

        @media (max-width: 1199px) {
            padding-top: 175px;         
        }

        @media (max-width: 991px) {
            padding-top: 74px;            
            text-align: justify;                     
        }
        @media (max-width: 767px) {
            padding-top: 40px; 
                     
        }
    }    
    &__title {
        color: white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 61px;

        @media (max-width: 991px) {
            margin-bottom: 30px;           
        }
    }    
    &__text1,
    &__text2 {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;

        @media (max-width: 991px) {
            font-size: 20px;
            text-align: justify;           
        }
    }
    &__text1 {
        margin-bottom: 27px;
    }    
    &__text2 {
        margin-bottom: 42px;

        @media (max-width: 991px) {
            margin-bottom: 23px;                    
        }        
    }    
    &__img {
        padding-top: 120px;
        padding-bottom: 117px;

        @media (max-width: 1199px) {
            padding-top: 114px;
            padding-bottom: 51px;           
        }        
        @media (max-width: 991px) {
            padding: 70px 0 70px 0 ; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            align-items: center;          
        }
        @media (max-width: 767px) {
            padding: 30px 0 30px 0;                    
        }        
    }    
    &__img1 {
        padding-left: 62px;
        padding-bottom: 3px;

        @media (max-width: 991px) {
            padding-left: 0;            
            padding-bottom: 15px;            
        }
        @media (max-width: 767px) {
            padding-right: 100px;                   
        }
        @media (max-width: 575px) {
            width: 100%;
            padding-right: 0;       
        } 
    }    
    &__img2 {
        padding-left: 188px;

        @media (max-width: 1199px) {
            padding-left: 62px;            
        }
        @media (max-width: 991px) {
            padding-left: 0;       
        }
        @media (max-width: 767px) {
            padding-left: 100px;                   
        }
        @media (max-width: 575px) {
            width: 100%;
            padding-left: 0;       
        } 
    }            
    &__btn {        
        border: none;
        padding: 20px 45px;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        background-image: url(../img/btn.png);
        background-size: cover;
        background-repeat: no-repeat;        
    }
    &__btn:hover {
        text-shadow: 3px 3px 5px black;
        background: #1f348a;        
    }    
    &__btn:active {
        color: black;
        text-shadow: 2px 2px 5px rgb(97, 97, 97);
        background: #394d9c;
        
    }    
    
}

