.choose {
    background-image: url(../img/choose_bg.png);
    height: 685px;
    background-position: top;
    background-size: cover;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        height: 100%;
        padding-top: 207px;
    }
    
    &__title {
        color: white;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 61px;
    }
    
    &__text1,
    &__text2 {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    
    &__text1 {
        margin-bottom: 27px;
    }
    
    &__text2 {
        margin-bottom: 42px;
    }
    
    &__img {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    &__img1 {
        padding-left: 65px;
        padding-bottom: 5px;
    }
    
    &__img2 {
        padding-left: 190px;
    }
}

