.header {
    height: 820px;
}

.headmain {
    background-image: url(../img/Header_bg.png);
    background-position: top;
    background-size: cover;
    height: 740px;

    &__logo {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 267px;
        letter-spacing: 3px;
    }
    
    &__title {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 300;
        margin-top: 7px;
        letter-spacing: 6px;
    }
    
    &__search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 24px;
        width: 650px;
    }
    
    &__form {
        width: 500px;
    }
    
    &__name {
        width: 500px;
        height: 60px;
        background-color: white;
        border: 0;
        text-align: start;
        padding-left: 2vw;
    }
    
    &__btn {
        position: relative;
    }
    
    &__name::placeholder {
        text-align: center;
        color: #999;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    &__btn:hover .search{
        background-color: #2484ad;
        border: 2px solid #0c2e26;
    }
    &__btn:hover .search__magnifier{
        fill: #0c2e26;
    }
    &__btn:active .search{
        filter: invert(1);
    }    
    &__scroll {
    text-align: center;
}
}



.search {
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    border: 2px solid white;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.search__magnifier {
    position: absolute;
    top: 19px;
    left: 112px;
    fill: #fff;
    fill-rule: evenodd;
    pointer-events: none;
}

.scroll {
    
    &_text {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 120px;
    margin-bottom: 7px;
}
&_text {
    position: relative;
    cursor: pointer;
}
&_check {
    
    fill: #fff;
    fill-rule: evenodd;
}
&_text::after {
    content: url(../img/point.svg);
    position: absolute;
    opacity: 0.8;
    top: 35px;
    left: 39.5px;
    width: 10px;
    height: 7px;    
    visibility: hidden;
}
&_text:hover::after {
    visibility: visible;
    transition-delay: 300ms;    
}

}


.headfoot {
    background-color: #5474fd;
    height: 80px;  
    
    &__logo {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    
    }
    
    &__menu {
        width: 100%;
        height: 80px;
        padding-left: 14px;
    }
    
    
    &__link {
        color: white;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    }
    
    
    &__link:hover,
    &__logo:hover {
        text-shadow: 2px 5px 3px black;
    }
    &__link:active,
    &__logo:active {
        text-shadow: none;
        color: #060629;
        font-weight: 700;
    }
}








