.header {    
        background-image: url(../img/Header_bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;       
    
    &__mainLogo {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 267px;
        letter-spacing: 3px;

        @media (max-width: 991px) {
            margin-top: 200px;
        }
        @media (max-width: 575px) {
            font-size: 45px;
        }
    }
    &__title {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 300;
        margin-top: 7px;
        letter-spacing: 6px;

        @media (max-width: 575px) {
            text-align: center;
        }
    }
    &__search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 24px;
        width: 650px;// delete

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 0; 
        }
        
    }        
    &__name {
        width: 500px;
        height: 60px;
        background-color: white;
        border: 0;
        text-align: start;
        padding-left: 2vw;

        @media (max-width: 575px) {
            width: 300px;
            height: 60px; 
            font-size: 22px;
        }
    }       
    &__name::placeholder {        
        color: #999;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.8px;
        padding-left: 87px;

        @media (max-width: 575px) {
            padding-left: 5px;
            font-size: 16px;
        }
    }
    &__btn {
        position: relative;

        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
    &__btn:hover input{        
        background-color: #2484ad;
        border: 2px solid #0c2e26;
    }
    &__btn:hover svg{
        fill: #0c2e26;
    }
    &__btn:active input{
        filter: invert(1);
    }
    &__btn input[value="Search"] {
        padding: 22px 55px 17px 30px;

        @media (max-width: 767px) {
            padding: 23px 93px 20px 70px;
        }
        
    }
    &__btn input {        
        background-color: #5474fd;
        border: 2px solid white;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase; 
        
    }    
    &__btn svg {
        position: absolute;
        top: 21px;
        left: 110px;        
        pointer-events: none;

        @media (max-width: 767px) {
            left: 147px;
        }
    }
    &__scroll {
        text-align: center;
        margin-top: 120px;

        @media (max-width: 991px) {
            margin-top: 90px;
        }
    }
    &__scroll p {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;        
        margin-bottom: 6px;    
        position: relative;
        cursor: pointer;
    } 
    &__scroll p::after {
        content: url(../img/point.svg);
        position: absolute;
        opacity: 0.8;
        top: 35px;
        left: 39.5px;
        width: 10px; //delete
        height: 7px; //delete    
        visibility: hidden;
    }
    &__scroll p:hover::after {
        visibility: visible;
        transition-delay: 300ms;    
    }    
    &__footer {
        margin-top: 132px;
        background-color: #5474fd;

        @media (max-width: 991px) {
            margin-top: 100px;
        } 
        @media (max-width: 767px) {
            margin-top: 50px;
        }       
    } 
    &__footerLogo {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        margin-left: -3px; 
        
        @media (max-width: 991px) {
            margin-top: 20px;
        }
        @media (max-width: 575px) {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
    &__menu {              
        padding-left: 14px;
        margin-top: 32px;
        margin-bottom: 32px;

        @media (max-width: 991px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: white;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    }
    &__link:hover,
    &__footerLogo:hover {
        text-shadow: 2px 5px 3px black;
    }
    &__link:active,
    &__footerLogo:active {
        text-shadow: none;
        color: #060629;
        font-weight: 700;
    }
    &__burger {
        margin-top: -60px;
    }
    &__burger nav {
        width: 100%;
    }
    &__burger.burger {

        .burger__toggle {
            display: flex;    
            flex-direction: column;
            align-items: flex-end;
            position: relative;    
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        
            & input  {
            display: flex;
            width: 42px;
            height: 42px;
            position: absolute;
            top: -16px;
            right: 2px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }
        
          & span  {
            display: flex;
            width: 41px;
            height: 3px;
            margin-bottom: 8px;
            position: relative;    
            background: white;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
          
          & span:first-child  {
            transform-origin: 0% 0%;
        }
          
          & span:nth-last-child(2)  {
            transform-origin: 0% 100%;
        }
          
          & input:checked ~ span  {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: white;
        }
        
          & input:checked ~ span:nth-last-child(3)  {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
          
          & input:checked ~ span:nth-last-child(2)  {
            transform: rotate(-45deg) translate(0, -1px);
        }
        
          & input:checked ~ ul
            {
                opacity: .8;    
            }
        }
        
        .burger__link {
            position: absolute;
            width: 100%;
            height: 150px;
            padding-top: 5px;
            padding-bottom: 0;
            box-shadow: 0 0 10px #85888C;
            top: -180px;        
            opacity: 0;
            background-color: #F5F6FA;
            transition: all 0.5s linear;
            text-align: center;
        
            & li {
                padding: 15px;
        
                @media (max-width: 768px) {
                    padding: 10px;
                    }
            }   
        }

        .burger__item {
            & a {
                color: #262626;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
            }
        
            &:hover {
                background-color: #5474fd;
                cursor: pointer;
            }
            &:active {
                opacity: 1;
                background-color: #330f75;        
            }
        
            &:active a {
                opacity: 1;
                color: white;        
            }  
        }
    }
}        

        

    


  
    
      
    
    
    
    
    
    
    









