.howit {
    background-color: #333333;

    &__search,
    &__select,
    &__book {
        margin-top: 103px;
        margin-bottom: 84px;
        background-color: #333333;
        z-index: 1;

        @media (max-width: 991px) {
            margin-top: 70px;
            margin-bottom: 0;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
            margin-bottom: 0;
        }           
    }
    &__search svg,
    &__select svg ,
    &__book svg
     {
        @media (max-width: 575px) {
            transform: scale(.7);
        } 
    }
    &__arc1 {
        display: block;
        position: absolute;
        top: -291px;
        left: 168px;

        @media (max-width: 1199px) {
            top: -294px;
            left: 144px;
        }
        @media (max-width: 991px) {
            top: -190px;
            left: 109px;
        }
        
        
    }
    &__arc2 {
        display: block;
        position: absolute;
        top: -291px;
        left: 553px;

        @media (max-width: 1199px) {
            top: -294px;
            left: 471px;
        }
        @media (max-width: 991px) {
            top: -190px;
            left: 362px;
        }
        @media (max-width: 767px) {
            display: none;
        }
            
    }
    &__arc1 div,
    &__arc2 div {
        width: 427px;
        height: 381px;
        opacity: 0.5;
        border-radius: 50%;
        border-top: 1px dotted white;
        
        @media (max-width: 1199px) {
            width: 346px;
            height: 400px;
        }
        @media (max-width: 991px) {
            width: 253px;
            height: 227px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__text {
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        margin-top: 24px;
        margin-bottom: 30px;
        
        @media (max-width: 767px) {
            font-size: 25px; 
        }
        @media (max-width: 575px) {
            font-size: 25px; 
        }
    }
    &__search path {
        fill: #5474fd;
        fill-rule: evenodd;
    }
    &__select path {
        fill: #ff6363;
        fill-rule: evenodd;
    }
    &__book path {
        fill: #00a2ff;
        fill-rule: evenodd;
    }
}
