.howit {
    background-color: #333333;

    &__search,
    &__select,
    &__book {
        margin-top: 18px;
        background-color: #333333;
        z-index: 1;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 337px;
        text-align: center;
        margin-left: -17px;
        margin-right: -20px;
        position: relative;
    }
    &__arc1 {
        display: block;
        position: absolute;
        top: -291px;
        left: 168px;
        width: 302px;
        height: 56px;
        
    }
    &__arc2 {
        display: block;
        position: absolute;
        top: -291px;
        left: 553px;
        width: 302px;
        height: 56px;    
    }
    &__arc1 div,
    &__arc2 div {
        width: 427px;
        height: 381px;
        opacity: 0.5;
        border-radius: 50%;
        border-top: 1px dotted white; 
    }
    &__text {
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        margin-top: 24px;
        margin-bottom: 30px;    
    }
    &__search path {
        fill: #5474fd;
        fill-rule: evenodd;
    }
    &__select path {
        fill: #ff6363;
        fill-rule: evenodd;
    }
    &__book path {
        fill: #00a2ff;
        fill-rule: evenodd;
    }
}
