.section {
    &__bg1 {
        background-image: url(../img/section1@x1.jpg);        
        background-position: top;
        background-size: cover;

        @media screen and (min-resolution: 2dppx) {                       
            background-image: url(../img/section1@x2.jpg);
        }
        
        @media screen and (min-resolution: 3dppx) {            
            background-image: url(../img/section1@x3.jpg);
        }
    }    
    &__bg2 {
        background-image: url(../img/section2@x1.jpg);        
        background-position: top;
        background-size: cover;

        @media screen and (min-resolution: 2dppx) {                       
            background-image: url(../img/section2@x2.jpg);
        }
        
        @media screen and (min-resolution: 3dppx) {            
            background-image: url(../img/section2@x3.jpg);
        }
    }
    &__block {                        
        opacity: 0.9;
        background-color: #232323;
        margin-top: 229px;
        margin-bottom: 100px;
        padding: 50px 30px 50px 30px;

        @media (max-width: 1199px) {
            margin-top: 100px;            
        }
        @media (max-width: 991px) {
            margin-top: 50px;
            margin-bottom: 50px;            
        }
    }    
    &__country {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }    
    &__title {
        color: #fefefe;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 21px; 
        letter-spacing: -0.5px;
        
        @media (max-width: 575px) {
            font-size: 21px;                       
        }
    }    
    &__text {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 200;
        line-height: 26px;
        letter-spacing: -0.3px;
        margin-bottom: 42px;
        box-sizing: border-box;
        max-width: 100%;

        @media (max-width: 991px) {
            font-size: 20px;
            text-align: justify;
            font-weight: 400;           
        }
    }       
    &__btn {        
        border: none;
        padding: 20px 65px;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        background-image: url(../img/btn.png);
        background-size: cover;
        background-repeat: no-repeat;       
    }
    &__btn:hover {
        text-shadow: 3px 3px 5px black;
        background: #1f348a;        
    }    
    &__btn:active {
        color: black;
        text-shadow: 2px 2px 5px rgb(97, 97, 97);
        background: #394d9c;
        
    }
}

