.section {
    &__bg1 {
        background-image: url(../img/Section1_bg.png);        
        background-position: top;
        background-size: cover;
    }    
    &__bg2 {
        background-image: url(../img/Section2_bg.png);        
        background-position: top;
        background-size: cover;
    }
    &__block {
        display: flex;
        flex-direction: column;                
        opacity: 0.9;
        background-color: #232323;
        margin-top: 229px;
        margin-bottom: 100px;
        padding: 50px 30px 50px 30px;

        @media (max-width: 1199px) {
            margin-top: 100px;            
        }
        @media (max-width: 991px) {
            margin-top: 50px;
            margin-bottom: 50px;            
        }
    }    
    &__country {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 32px;
    }    
    &__title {
        color: #fefefe;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 21px; 
        letter-spacing: -0.5px;
        
        @media (max-width: 575px) {
            font-size: 21px;                       
        }
    }    
    &__text {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 200;
        line-height: 26px;
        letter-spacing: -0.3px;
        margin-bottom: 42px;

        @media (max-width: 991px) {
            font-size: 20px;
            text-align: justify;
            font-weight: 400;           
        }
    }    
    &__btn {        
        width: 225px;
        height: 60px;

        @media (max-width: 767px) {
            padding-left: 50%;           
        }
        @media (max-width: 575px) {
            padding-left: 0;           
        }
    }    
    &__input {
        border: 0;
        width: 225px;
        height: 60px;
        color: white;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        background: url(../img/btn.png);
        transition: background 1s, text-shadow 1s, transform 1s;        
    }    
    &__btn:hover &__input {
        text-shadow: 3px 3px 5px black;
        background: #1f348a;
        transform: rotate(360deg);
    }    
    &__btn:active &__input {
        filter: invert(1);
    }
}

